[data-md-color-scheme="purdue"] {
    --md-primary-fg-color:        #CBBA94;
    --md-accent-fg-color:         #CBBA94;
    --md-primary-fg-color--light: #CBBA94;
    --md-primary-fg-color--dark:  #90030C;
  }